# .gitignore
.idea/
*.iml
notebooks/.venv/

__pycache__/
*.pyc
*.py[cod]

# Virtual environment
venv/
.env/

# Data files that are generated or not needed in the repository
data/final_dataset.csv
data/seeder_data.csv
